<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <form action="" method="post">
        <label for="name">Label</label><input id="name" type="text" name="name"/>
        <!-- TODO: This is a list-->
        <label for="other_name">Alternative Label</label><input id="other_name" type="text" name="other_name"/>
        <!-- TODO: This is a list too -->
        <label for="identifier">Identifier</label><input id="identifier" type="text" name="identifier">
        <!-- TODO: This can be a drop down -->
        <label for="classification">Classification</label><input id="classification" type="text" name="identifier"/>
        <!-- TODO: this is a drop down populated by data in our instance -->
        <label for="parent_id">Parent Organization</label><input id="parent_id" type="text" name="parent_id"/>
        <label for="founding_date">Founding Date</label><input id="founding_date" type="text" name="founding_date"/>
        <label for="dissolution_date">Founding Date</label><input id="dissolution_date" type="text" name="dissolution_date"/>
        <!-- TODO: Image upload here, also move around because putting image field here is weird -->
        <!-- TODO: contact field set
             TODO: this is a list
        -->
        <label for="contact">Contact</label><input id="contact" type="text" name="contact"/>
        <!-- TODO: this is a list too -->
        <label for="links">Links</label><input id="links" type="text" name="links"/>
        <!--
        TODO: This is a list
        TODO: Also create a form here to create new post if necessary
        -->
        <label for="members">Members of</label><input type="text" name="members" id="members"/>
    </form>
</body>
</html>