<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <!-- TODO: use a proper element to align form
         TODO: add proper id
         TODO: fix incompatible field
         -->
    <form>
        <!-- TODO: Add photo here, how do we upload anyway -->
        <label for="name">Name</label><input type="text" name="name" id="name"/>
        <!-- TODO: This is a list -->
        <label for="alternate_name">Alternate</label><input type="text" name="alternative_name" id="alternate_name"/>
        <label for="email">Email</label><input type="text" name="email" id="email"/>
        <!-- TODO: Malaysia is still conservative, limit to male and female for now -->
        <label for="gender">Gender</label><input type="text" name="gender" id="gender"/>
        <label for="birth_date">BirthDate</label><input type="text" name="birth_date" id="birth_date"/>
        <label for="one_line_biography">Biography</label><input type="text" name="one_line_biography" id="one_line_biography"/>
        <label for="biography">Biography</label><textarea name="biography" id="biography"></textarea>
        <label for="national_identity">National Identity</label><input type="text" name="national_identity" id="national_identity"/>
        <!-- TODO: This is a list TOO -->
        <label for="links">Links</label><input type="text" name="links" id="links"/>
        <!--
        TODO: This is a list
        TODO: Also create a form here to create new post if necessary
        -->
        <label for="memberships">Members of</label><input type="text" name="membership" id="memberships"/>
    </form>
</body>
</html>