<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <form action="/" method="post">
        <label for="name">Name</label><input id="name" name="name" type="text"/>
        <label for="alternative_name">Alternative Name</label><input id="alternative_name" name="alternative_name" type="text"/>
        <label for="role">Role</label><input id="role" name="role" type="text"/>
        <label for="organization">Organization</label><input id="organization" name="organization" type="text"/>
        <!--
        TODO: THis is is form set
        TODO: this is a list
        -->
        <label for="contact">Contact</label><input id="contact" name="contact" type="text" />
        <!-- This is a list-->
        <label for="links">links</label><input id="links" name="links" type="text"/>
    </form>
</body>
</html>