<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form method="post" action="/addpost/{{organization_id}}">
    <label for="name">Name</label><input id="name" type="text" name="name"/><br/>
    <label for="role">Role</label><input id="role" type="text" name="role"/><br/>

    <label for="start_date">Start Date</label><input id="start_date" type="text" name="start_date"/><br/>
    <label for="end_date">End Date</label><input id="end_date" type="text" name="end_date"/><br/>
    <input type="submit" value="create"/>
</form>
</body>
</html>